@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-image:url(imagens/bg.png);
    /*  */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
nav,a{
    color: white;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--fonte);
}

header{
    background-color: #1e1f22;
    z-index: -2;
    text-align: center;
    padding: 10px;

}

:root{
    --corBotoesH2Texto:orange;
    --arrendondamento: 10px;
    --fonte: "Comic", "cursive;";
}
a{
    color: white;
    margin: 0px 10px;
    text-decoration: none;
    
}
.logo{
    width: 250px;
    
}
.imgProduto{
    width: 400px;

}

h2{
    color: var(--corBotoesH2Texto);
    text-align: center;
}

h1{
    text-transform: uppercase;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxProduto{
    background-color: rgba(37,37,37,0.8);
    display: flex;
    width: 850px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: var(--arrendondamento);
}

.boxImagem,.boxTexto{
    display: inline-block;
    vertical-align: middle;
    
}
.boxTexto{
    width: 400px;
    text-align: start;
}

h1,h2,h3{
    margin: 10px 0px;
}

button{
    color: white;
    background: orange;
    border-radius:var(--arrendondamento);
    width: 150px;   
    border: none;
    padding: 10px;
    cursor: pointer;
}
.modal,h5{

    color: black;
    text-align: left;
}

.boxmodal{
    width: 100%;
    border: 1px solid red;
    border-radius: 10px;
    background-color: orange;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxigre{
    border: 1px solid red;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.igre{
    width: 30px;
}
.boxexemple{
    background-color: orange;
    padding: 5px;
    height: 00px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


